/* Chrono display styles */
.chrono {
  display: inline-flex;
  align-items: end;
  gap: 0.5rem;
  color: var(--color-text-primary);
  font-size: 1.5rem;
   font-family: "Jost", sans-serif;
   font-weight: 400;
   margin-bottom: 20px;
  .label-chrono{
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 15px;
    color: #212121;
  }
  .label{
       font-size: 16px;
    font-weight: 500;
    color: #212121;
    margin-bottom: 8px;
  }
}

.chrono-part {
  background: #DAF5FF;
  padding: 0.35rem 0.6rem;
  border-radius: 8px;
  min-width: 2.2rem;
  text-align: center;
  color: #3BBBED;
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
}

.chrono-sep {
 color: #E7E3E3;
    margin-bottom: 20px;
    font-size: 46px;
}
