footer{
    .list-menu{
        display: flex;
        gap: 10px;
        justify-content: end;
        @media (max-width:768px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        a{
            text-decoration: none;
            color: var(--color-text-primary);
        }
    }
    .border-footer{
        content: "";
        padding: 10px 15px;
        border: #fff solid 1px;
        border-radius: 10px;
    }
    .btn-social{
        border: none;
        background-color: transparent;
    }
    .sociaux{
        @media (max-width:768px) {
            justify-content: center;
            align-items: center;
            border-bottom: 1px #fff solid;
            margin-bottom: 15px !important;
        }
    }
}