.formulaire{
    &.section-padding{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .content{
        display: flex;
        position: relative;
        z-index: 2;
        background-color: #fff;
        padding: 40px;
        @media (max-width:768px) {
            flex-direction: column;
        }
        .img{
            max-width: 60%;
            width: 100%;
            display: flex;
            align-items: center;
             @media (max-width:768px) {
                display: none;
            }
            img{
                width: 100%;
            }
        }
        .form{
            .contact-form{
                padding: 0;
                background-color: unset;
                box-shadow: none;
                textarea.form-control{
                    background-color: #EEEEEE !important;
                    border-radius: 20px !important;
                    border: 0 !important;
                    min-height: 280px;
                }
            }
            .btn-add{
                width: 42px;
                height: 42px;
                border-radius: 50%;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #F2F2F2;
                border: none;
                position: absolute;
                bottom: 40px;
                left: 60px;
                .ico{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
    .form-control{
        border: none!important;
        border-radius: 8px !important;
            margin-bottom: 20px;
        border-bottom: 1px solid #8D8D8D !important;
        border-radius: 0 !important;



    }
    
}
.border-content{
    border: 2px #fff solid;
    box-shadow: 1px 1px 20px #fff inset, 1px 1px 20px #fff;
    border-radius: 10px;
    padding: 16px !important;
    margin-top: 1rem;
}