.process{
    padding: 60px 15px!important;
    background-color: #1c1632;
    .item{
        @media (max-width:580px) {
            max-width: 300px;
            margin: 0 auto 15px;
        }
        .floating-card{
            background-color: #F6F6F6;
            border-radius: 10px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .feature-icon{
                width: 40px;
                height: 40px;
                border: 0;
                background-color: transparent;
                margin: 0;
            }
        }
        h3{
            text-align: left;
            
        }
        a{
            color: #0095e6;
            text-decoration: none;
        }
    }
    .sub-title{
        p{
            font-size: 24px;
            color: #fff;
        }
    }
    .deco-motif{
       position: relative;
       &::after{
        content: "";
         background: url(../images/bg-motif-process.png) no-repeat top right;
        background-size: contain;
        display: block;
        width: 67%;
        height: 100%;
        position: absolute;
        top: -24%;
        right: 0;
        z-index: 1;
        @media (max-width:992px) {
            top: 0;
        }
       }
    }
    .sub-title,h2{
        position: relative;
        z-index: 2;
    }
}
.ourProcess{
    padding-bottom: 0!important;
    .item{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        padding: 10px;
        .animated-section{
            border-radius: 100%;
            text-align: center;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 6px;
        }
        .h6{
            font-size: 16px;
        }
    }
    h2{
        @media (max-width:1281px) {
            margin-bottom: 35px!important;
        }
    }
}
.transition{
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--color-text-primary);
    &:after{
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        left: 0;
        top: -7px;
        border: var(--color-text-primary) solid 2px;
        background: #fff;
    }
    &.color-secondary{
        background-color: #4641FF;
        &:after{
            border-color: #4641FF;
        }
    }
     &.color-brand{
        background-color: #00C3FF;
        &:after{
            border-color: #00C3FF;
        }
    }
}
.content-ourProcess{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 35px;
    @media (max-width:1280px) {
        flex-direction: column;
        .process-step{
            justify-content: center;
        }
    }
    @media (max-width:767px) {
        flex-direction: column;
        .process-step{
            flex-flow: row wrap;
        }
    }
    .avis{
        max-width: 40%;
        @media (max-width:1280px) {
            max-width: 100%;
            margin: 25px 0;
        }
    }
    .transition{
        margin-left: -70px;
         @media (max-width:1200px) {
            margin-left: 0;
        }
        @media (max-width:992px) {
            display: none;
        }
    }
    .eclipse-title{
        max-width: 80px;
        width: 100%;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 13px;
            height: 13px;
            bottom: 173px;
            border-color: #f0cf48;
            display: block;
            right: 188px;
            border-width: 2px;
            border-style: solid;
            border-radius: 13px;
            @media (max-width:1281px) {
               bottom: 123px;
            }
        }
        &:after{
            content: "";
            position: absolute;
            width: 150px;
            height: 180px;
            bottom: 0;
            right: 50%;
            display: block;
            pointer-events: none;

            /* top: solid red; right: solid yellow */
            background-image:
                linear-gradient(90deg, #f0cf48, #6cbce7), /* top -> red */
                linear-gradient(180deg, #36b6fc, var(--color-text-primary)); /* right -> yellow */
            background-repeat: no-repeat;
            background-position: top left, top right;
            background-size: 100% 2px, 2px 100%;
             @media (max-width:1281px) {
                height: 130px;
            }
        }
        @media (max-width:992px) {
            display: none;
        }
    }
    .transition{
        display: flex;
        align-self: flex-start;
        margin-top: 115px;
        @media (max-width:768px) {
            margin-top: 15px;
        }
    }
}
.process-step{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
     justify-content: center;
     p{
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
     }
}
.avis{
    .testimonial-card{
        display: flex;
        align-items: center;
        padding: 0;
        margin-bottom: 15px;
        background: unset;
        gap: 5px;
        border: 0;
        box-shadow: unset;
        justify-content: end;
        
        .img{
            width: 100px;
            height: 100px;
            border-radius: 100%;
            overflow: hidden;
            border: 2px #fff solid;
            img{
               max-width: 108px;
            }
        }
        .desc {
            width: 100%;
            max-width: 60%;
            padding:  10px 10px 10px 30px;
            border-radius: 0 10px 10px 0;
            border: 2px #fff solid;
            border-left: 0;
            position: relative;
            &:before{
                content: "";
                width: 20px;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                border-width: 2px 2px 2px 0;
                border-style: solid;
                border-color: #fff;
                border-radius: 0 15px 15px 0;
            }
        }
        
    }
    .animated-section:first-child .testimonial-card{
        justify-content: start;
    }
    
}
@media (max-width:768px) {
    .p-0-mobile{
        padding-left: 0;
        padding-right: 0;
    }
}