.services{
    .service-card{
        padding: 15px;
        .service-icon{
            border: 3px solid var(--color-text-accent);
            border-radius: 100%;
            background: unset!important;
            svg{
                color: var(--color-text-primary);
            }
        }
        h3{
            font-size: 33px;
            max-width: 80%;
        }
    }
    .list-unstyled{
        display: flex;
        flex-flow: row wrap;
        li{
            max-width: 48%;
            width: 100%;
        }
    }
    .column-2{
        display: flex;
        flex-flow: row wrap;
        gap: 15px;
        p{
            max-width: 46%;
            @media (max-width:768px) {
                max-width: 100%;
            }
        }
    }
}